# based on https://github.com/ravendb/ravendb-ruby-client/blob/v4.0/.travis.yml
sudo: required
dist: trusty
language: go

notifications:
  email:
    recipients:
      - kkowalczyk@gmail.com
    on_success: always
    on_failure: always

go:
  - 1.11

# TODO: maybe use latest build instead of latest stable
# - wget -O RavenDB.tar.bz2 https://hibernatingrhinos.com/downloads/RavenDB%20for%20Linux%20x64/latest?buildType=nightly

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libunwind8 wget libicu52 libssl-dev curl unzip gettext libcurl4-openssl-dev zlib1g uuid-dev bzip2 openssl sed
  - mkdir ./certs; cd ./certs
  - sudo cp ca.crt /usr/local/share/ca-certificates/ca.crt
  - sudo update-ca-certificates
  - cd ..
  # when changing version, update RAVENDB_SERVER_VERSION in travis_run_tests.sh
  - wget -O RavenDB.tar.bz2 https://daily-builds.s3.amazonaws.com/RavenDB-4.1.3-linux-x64.tar.bz2
  - tar xvjf RavenDB.tar.bz2
  - rm RavenDB.tar.bz2
  - ls -lah RavenDB

# go test -v -race -coverpkg=all -covermode=atomic -coverprofile=coverage.txt ./tests
# Travis aborts the test if there's no output in 10 mins
# go test seems to hijack os.Stdout and buffers everything until the end,
# even with -v flag.
# travis_wait is a "keep alive" that prints to stdout
# https://docs.travis-ci.com/user/common-build-problems/#my-builds-are-timing-out

script:
  - travis_wait ./scripts/travis_run_tests.sh

#after_success:
#  - bash <(curl -s https://codecov.io/bash)
